@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* =====================navbar================== */
nav img {
    width: 20px;
}

.navbar {
    display: flex;
    margin: 40px 150px;
    justify-content: space-between;

}

.nav-left {
    display: flex;
    align-items: center;

}

.nav-left>h2 {
    margin-left: 20px;
    font-size: 45px;
}

.nav-left>h2 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-left>img {
    width: 80px;

}

.nav-right {
    display: flex;
    align-items: center;
}

.follow-us-on {
    display: flex;
    align-items: center;
    background-color: #0b02232f;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;

}

.follow-us-on img {
    width: 33px;
}

.nav-right a {
    margin-right: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.follow-us-on>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.follow-us-on img {
    padding-right: 0px;
}

/* ====================banner =============================== */

.banner {

    margin: 0px 150px;

    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    background-image: url(images/Group\ 14.png
);
    background-repeat: no-repeat;


}


.banner img {
    width: 100%;
}

.side-1>h3 {
    font-size: 48px;
    color: #0B0223;
    font-weight: 600;
    margin: 0px;
    text-align: center;

}

.side-1>h2 {
    font-size: 100px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.side-1 p {
    font-size: 20px;
}

.button-primary {
    padding: 20px 40px;
    margin-right: 10px;
    border-radius: 48px;
    border: none;
    background-color: rgba(255, 0, 200, 0.644);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.other {
    background-color: rgb(2, 209, 209);
}

/* ====================we are gamer section =====================*/
.gamercontainer {
    margin: 0px 150px;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: #fff9fc;

}

.gamercontainerpart-1 {
    width: 100%;
}

.gamercontainerpart-1 img {
    width: 100%;
}

.gamercontainerpart-2 {
    width: 100%;
    text-align: end;
}

.gamercontainer-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamercontainer-description {
    color: #534C64;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.last-descrip {
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.gamercontainerpart-2 span {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* ==================online games============== */
.Ogames-container {
    text-align: center;
    margin-left: 0px 150px;
}

.Ogames-container h3 {
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 0;
}

.Ogames-container h3 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Ogames-container>p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 50px;
    color: #534C64;
}

.cards {
    margin: 0px 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: start;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    position: relative;
;


}
.another .card-img:hover{
    outline: 10px solid rgb(255, 106, 106);
    border-radius: 25px;
}
.playoption img{
   
    height: 120px;
}
.another:hover .playoption{
    opacity: 1;
    width:150px;
    height: 80px;
    z-index: 1;
}
.another:hover .card-img{
    filter:brightness(30%) ;
    border: 5px soid red;
}
.playoption {
    position: absolute;
    top: 30%;
    left: 29%;
    opacity: 0;
}

.playoption p {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight:600 ;
}
.playoption img{
    width: 30px;
    
}

.cards img {
    width: 100%;
}

.card p {
    text-align: start;
}

.match {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===============play instantly============ */
.playinstant {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-right: 150px;
    padding-top: 50px;

}

.playinstant-content {
    text-align: center;
    margin-left: 400px;
}
.playinstant-content p{
    width: 100%;
    text-align: center;
}

.playinstant img {
    width: 100%;
}

.playinstant-content h3 {
    font-size: 48px;
    text-align: end;
}

.playinstant-content h3 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playinstant-content p {
    width: 400px;
    font-weight: 700;
    line-height: 30px;
    ;
    font-size: 18px;
    color: #534C64;
    text-align: right;
}

.mini-img img {
    width: 100%;
}

.mini-img {
    width: 320px;
    height: 360px;
    position: absolute;
    bottom: 50px;
    left: -50px;
}

.playnow {
    padding: 80px;
    position: relative;
}

/* =============games categories=============== */
.gamestypes {
    margin: 100px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.gamestypes .games {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;


}

.games p {

    font-size: 20px;
    font-weight: 600;
}

.games:hover {
    border: 1px solid rgb(254, 136, 156);
    border-radius: 100px;
    color: rgb(254, 136, 156);
}

/* ============ footer============== */

footer {
    background-color: black;
    color: white;
}

.footer-container {
    text-align: center;
    padding: 100px 200px;
}

.footer-items,
.ruls {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 18px;
    color: fff;
}

.footer-icons {
    margin: 50px 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.footer-title h2 {
    font-size: 45px;
    ;
}

.footer-title h2 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ruls,
.copyright {
    color: rgba(255, 255, 255, 0.60);
}
.hide{
    display:none;
}

/* =====================media quries============= */
@media screen and (max-width:576px){
    .navbar, .nav-right , .gamercontainer, .cards , .playinstant, .gamestypes{
        flex-direction: column;
        align-items: center;
    }
    .banner, .gamercontainer, .cards, .playinstant, .playinstant-content, .gamestypes {
        margin: 10px;
    }
    .nav-right{
        gap: 20px;
    }
    .gamestypes{
        margin-top: 100px;
        flex-wrap: nowrap;
    }
    .banner{
        flex-direction: column-reverse;
    }
   
    .gamercontainerpart-2{
        text-align: center;
    
    }
    .Ogames-container h3{
        width: 400px;
        margin: 50px auto;
    }
    .playinstant-content{
        text-align: center;
    }
    .playinstant{
        align-items: center;
        
    }
    .mini-img {
        width: 200px;
        height: 220px;
        bottom: -10%;
    }
    .playnow{
        padding: 10px;
    }
    .footer-items{
        flex-wrap: wrap;
        gap: 10px;
    }
    .copyright{
        font-size: 10px;
    }
    .ruls{
        flex-wrap: wrap;
        gap: 5px;
    }
    .footer-icons{
        flex-wrap: wrap;
    }
}

/* =================mid level============= */
@media screen and (min-width:576px) and (max-width: 992px){
    .banner, .gamercontainer, .cards, .playinstant, .playinstant-content, .gamestypes {
        padding: 100px;
        margin: 10px;
    }
    .button-primary{
        margin-bottom: 20px;
    }
    .side-1{
        width: 70%;
    }
    .footer-items, .playinstant, .cards, .gamercontainer{
        flex-wrap:wrap;
    }
    .gamercontainerpart-2, .playinstant-content{
        text-align: center;
        
    }
    .navbar, .nav-right{
        flex-direction: 
        column;
    }
    .banner{
        flex-wrap: wrap-reverse;
    }
}